# Backend
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/.env
backend/uploads/products/*
!backend/uploads/products/.gitkeep
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
